@model http_5112_assignment3.Models.Teacher


@{
    ViewBag.Title = "Show";
}

<a href="/Teacher/List">Back to List</a><!--Link to go back to the LIst page-->

<div>
    <table>
        <tr>
            <!--Table headings-->
            <th>Teacher ID</th>
            <th>Teacher First Name</th>
            <th>Teacher Last Name</th>
            <th>Employee Number</th>
            <th>Hire Date</th>
            <th>Salary</th>
            <th>Course Code</th>
            <th>Course Name</th>
        </tr>
        <tr>
            <!--Table rows-->
            <td>@Model.teacherId</td>
            <td>@Model.teacherFName</td>
            <td>@Model.teachetLName</td>
            <td>@Model.employeeNumber</td>
            <td>@Model.hiredate</td>
            <td>@Model.salary</td>
        </tr>
    </table>


</div>

